.mixin-button() {
    box-sizing: border-box;
    display: inline-block;
    height: @button-height;
    min-width: 220px;
    padding: 2px 10px;
    margin: 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: @button-border-radius;
    outline: none;
    text-align: center;
    line-height: 30px;

    font-size: @button-font-size;
    cursor: pointer;

    color: @color-button-text;
    border-color: currentColor;
    background-color: @color-button-bgrd;

    &:active,
    &:focus,
    &:hover {
        background-color: darken(@color-button-bgrd, 5%);
    }
}

.mixin-button-dangerous() {
    color: @color-button-dangerous-text;
    background-color: @color-button-dangerous-bgrd;

    &:active,
    &:focus,
    &:hover {
        background-color: darken(@color-button-dangerous-bgrd, 5%);
    }
}
